body{
    display: inline-block;
    justify-content: space-around;
}
.main{
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 20px;
    background-color: #f7f7f7;
    padding: 150px;
    max-width: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section p {
    margin-bottom: 10px; 
    text-align: center; 
    font-size: 18px;
    font-weight: bold; 
    color: #333; 
}
.d{
    background-color: #4CAF50;
    color: #fff;
    position: relative;
    top: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.p{
    background-color: #4CAF50;
    color: #fff;
    position: relative;
    top: 110px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

a {
    text-decoration: none;
}